<div class="comment">
  <blockquote>
    <p><%= comment.text %></p>
    <p>
      Written by <cite><%= comment.user.try(:email) %></cite> <%= time_ago_in_words(comment.created_at) %> ago
    </p>
  </blockquote>
  <hr>
</div>